<section class="ftco-section ftco-about">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(images/about.jpg);">
					</div>
					<div class="col-md-6 wrap-about ftco-animate">
	          <div class="heading-section heading-section-white pl-md-5">
	          	<span class="subheading">About us</span>
	            <h2 class="mb-4">Welcome to Prestige Rentals</h2>

	            <p>Since 2001, Prestige Rentals has been Houston's trusted choice for premium car rentals. We pride ourselves on delivering exceptional service and quality vehicles to meet all your transportation needs.</p>
	            <p>Whether you're visiting Houston for business, exploring the city's vibrant culture, or need a reliable vehicle for everyday use, our diverse fleet of meticulously maintained cars ensures you'll find the perfect ride. From compact cars for city navigation to luxury SUVs for family adventures, we're committed to making your journey comfortable and memorable. Conveniently located in the heart of Houston with easy access to both IAH and Hobby airports.</p>
	            <p><a href="/cars" class="btn btn-primary py-3 px-4">Search Vehicle</a></p>
	          </div>
					</div>
				</div>
			</div>
		</section>