<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">

      <!-- Column 1: Brand & Social Media -->
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2"><a href="/" class="logo">Prestige<span>Rentals</span></a></h2>
          <p>Serving Houston and surrounding areas with premium car rentals since 2001. Your journey begins with Prestige Rentals - where quality meets convenience.</p>
          <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
            <li class="ftco-animate"><a href="https://twitter.com/prestigerentals" target="_blank" title="Twitter"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="https://facebook.com/prestigerentals" target="_blank" title="Facebook"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="https://instagram.com/prestigerentals" target="_blank" title="Instagram"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>

      <!-- Column 2: Pages -->
      <div class="col-md-2">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Explore</h2>
          <ul class="list-unstyled">
            <li><a href="/" class="py-2 d-block">Home</a></li>
            <li><a href="/about" class="py-2 d-block">About Us</a></li>
            <li><a href="/services" class="py-2 d-block">Services</a></li>
            <li><a href="/cars" class="py-2 d-block">Our Fleet</a></li>
            <li><a href="/blog" class="py-2 d-block">Blog</a></li>
          </ul>
        </div>
      </div>

      <!-- Column 3: Quick Links -->
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="/pricing" class="py-2 d-block">Pricing Plans</a></li>
            <li><a href="/contact" class="py-2 d-block">Contact Us</a></li>
            <li><a href="http://localhost:4321/login" class="py-2 d-block">Login / Register</a></li>
            <li><a href="http://localhost:4321/customer/dashboard" class="py-2 d-block">My Account</a></li>
            <li><a href="/cars" class="py-2 d-block">Book a Car</a></li>
          </ul>
        </div>
      </div>

      <!-- Column 4: Contact Info -->
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Us</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <a href="https://maps.google.com/?q=5555+Westheimer+Road,+Houston,+TX+77056" target="_blank">
                  <span class="icon icon-map-marker"></span>
                  <span class="text">5555 Westheimer Road, Suite 200<br>Houston, Texas 77056</span>
                </a>
              </li>
              <li>
                <a href="tel:+17135557368">
                  <span class="icon icon-phone"></span>
                  <span class="text">+1 (713) 555-RENT (7368)</span>
                </a>
              </li>
              <li>
                <a href="mailto:info@prestigerentals.com">
                  <span class="icon icon-envelope"></span>
                  <span class="text">info@prestigerentals.com</span>
                </a>
              </li>
              <li>
                <span class="icon icon-clock-o"></span>
                <span class="text">Mon - Sat: 8:00 AM - 8:00 PM<br>Sunday: 9:00 AM - 6:00 PM</span>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <!-- Bottom Bar -->
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0" style="color: rgba(255,255,255,0.5); font-size: 14px;">
          &copy; <%= new Date().getFullYear() %> <strong>Prestige Rentals</strong>. All Rights Reserved.
          <span class="mx-2">|</span>
          <a href="/about" style="color: rgba(255,255,255,0.7);">About</a>
          <span class="mx-2">|</span>
          <a href="/contact" style="color: rgba(255,255,255,0.7);">Contact</a>
          <span class="mx-2">|</span>
          <a href="/cars" style="color: rgba(255,255,255,0.7);">Browse Cars</a>
        </p>
      </div>
    </div>

  </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/bootstrap-datepicker.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/scrollax.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>
