		<section class="ftco-section ftco-intro" style="background-image: url(images/bg_3.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-end">
					<div class="col-md-6 heading-section heading-section-white ftco-animate">
            <h2 class="mb-3">Looking For Your Perfect Ride? We've Got You Covered.</h2>
            <p class="text-white mb-4">Browse our extensive collection of quality vehicles. From compact cars to luxury SUVs, find the perfect match for your journey.</p>
            <a href="/cars" class="btn btn-primary btn-lg">Explore Our Fleet</a>
          </div>
				</div>
			</div>
		</section>