---
// Redirect to Express app main site
---
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="refresh" content="0;url=http://localhost:3001/" />
  <title>Redirecting to Prestige Rentals...</title>
</head>
<body>
  <script>
    // Immediate redirect
    window.location.href = 'http://localhost:3001/';
  </script>
  <p>Redirecting to <a href="http://localhost:3001/">Prestige Rentals</a>...</p>
</body>
</html>
